RewriteEngine ON

RewriteRule "^lien-he.html$" "contact.php"

RewriteRule "^trang-chu.html$" "index.php"

RewriteRule "^san-pham.html$" "product-list.php"

RewriteRule "^gio-hang.html$" "view-cart.php"

RewriteRule "^thanh-toan.html$" "checkout.php"

RewriteRule "^(.*)-([0-9]*)$" "cat.php?cat_id=$2"

RewriteRule "^(.*)-([0-9]*).html$" "product-detail.php?product_id=$2"



